body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: pink;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr .5fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

main {
    display: grid;
    grid-template-columns: 90% 10%;

}
* {
    box-sizing: border-box;
}

.border-line {
    border: solid 1px black;
}